/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/files
/edrive
.env
.env.backup
.htaccess
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/Uploads/*
/v1*

# Ignore all logs
*.log
/storage/logs/*
/bootstrap/cache/*.log