/*video {
    position: relative;
    top: -10px;
    left: 0;
    width: 100%;
    height: 480px !important;
    object-fit: cover;
}
.madapak {
    color: #04401f !important;
}
.madapak-btn {
    background-color: #04401f !important;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.madapak-btn:hover {
    border: 1px solid rgba(255, 255, 255, 0.8);
}
.post-title a  {
    color: #000 !important;
}
.post-title a:hover {
    color: #04401f !important;
}*/